In [40]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
data_to_load = "data - testing2.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
health_data_pd = pd.read_csv(data_to_load)

# Display the data table for preview
health_data_pd

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,133.555013,134.159119,134.857912,134.504576,134.105211,133.569626,...,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN,NaN
3,Arab World,ARB,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89005,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,17.300000,NaN,9.700000,NaN,NaN,26.800000,NaN,NaN
89006,Zimbabwe,ZWE,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.900000,NaN,7.300000,NaN,NaN,12.900000,NaN,NaN
89007,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.000000,0.000000,77.000000,49.000000,47.000000,61.000000,34.000000,32.000000,NaN,NaN
89008,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,NaN,NaN,NaN
89009,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,58.586086,58.760796,58.812421,58.825943,58.899308,58.939080,58.900126,58.822335,58.855551,NaN

In [37]:
health_data_decade_df = health_data_pd[['Country Name','Country Code','Indicator Name','Indicator Code','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
health_data_decade_df


# health_data_decade_pd = health_data_pd.loc[:,'2005':'2015']
# health_data_decade_pd

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,50.732590,50.329135,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN
3,Arab World,ARB,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89005,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,3.100000,NaN,NaN,17.300000,NaN,9.700000,NaN,NaN,26.800000,NaN
89006,Zimbabwe,ZWE,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,6.300000,NaN,NaN,13.900000,NaN,7.300000,NaN,NaN,12.900000,NaN
89007,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,81.000000,67.000000,83.000000,0.000000,77.000000,49.000000,47.000000,61.000000,34.000000,32.000000,NaN
89008,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,3.300000,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,NaN,NaN
89009,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,58.045596,58.331272,58.586086,58.760796,58.812421,58.825943,58.899308,58.939080,58.900126,58.822335,58.855551

In [38]:
countries_sorted_df = health_data_decade_df.groupby('Country Name')
countries_sorted_df
usa_df = countries_sorted_df.get_group('United States') 
usa_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
85215,United States,USA,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85216,United States,USA,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85217,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,41.0818,40.3754,39.669,37.7398,35.8106,33.8814,31.9522,30.023,27.0666,24.1102,NaN
85218,United States,USA,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85219,United States,USA,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85555,United States,USA,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85556,United States,USA,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85557,United States,USA,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85558,United States,USA,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85559,United States,USA,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
dropped_usa_df = usa_df.dropna() 
dropped_usa_df

dropped_usa_df.set_index("Indicator Code", inplace=True)
#dropped_usa_df

dropped_usa_data_df = dropped_usa_df.loc[['SH.IMM.HEPB', 'SH.IMM.MEAS', 'SH.STA.ACSN','SP.DYN.IMRT.IN','SH.H2O.SAFE.ZS','SP.POP.GROW','SP.POP.TOTL']]
dropped_usa_data_df
dropped_usa_data_df_format = dropped_usa_data_df

#dropped_usa_df.to_csv('dropped_usa.csv')
dropped_usa_data_df_format["2005"] = dropped_usa_data_df["2005"].map("{:,.2f}".format)
dropped_usa_data_df_format["2006"] = dropped_usa_data_df["2006"].map("{:,.2f}".format)
dropped_usa_data_df_format["2007"] = dropped_usa_data_df["2007"].map("{:,.2f}".format)
dropped_usa_data_df_format["2008"] = dropped_usa_data_df["2008"].map("{:,.2f}".format)
dropped_usa_data_df_format["2009"] = dropped_usa_data_df["2009"].map("{:,.2f}".format)
dropped_usa_data_df_format["2010"] = dropped_usa_data_df["2010"].map("{:,.2f}".format)
dropped_usa_data_df_format["2011"] = dropped_usa_data_df["2011"].map("{:,.2f}".format)
dropped_usa_data_df_format["2012"] = dropped_usa_data_df["2012"].map("{:,.2f}".format)
dropped_usa_data_df_format["2013"] = dropped_usa_data_df["2013"].map("{:,.2f}".format)
dropped_usa_data_df_format["2014"] = dropped_usa_data_df["2014"].map("{:,.2f}".format)
dropped_usa_data_df_format["2015"] = dropped_usa_data_df["2015"].map("{:,.2f}".format)

dropped_usa_data_df_format

,Country Name,Country Code,Indicator Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Indicator Code,,,,,,,,,,,,,,
SH.IMM.HEPB,United States,USA,"Immunization, HepB3 (% of one-year-old children)",93.00,93.00,93.00,94.00,92.00,92.00,91.00,90.00,91.00,92.00,92.00
SH.IMM.MEAS,United States,USA,"Immunization, measles (% of children ages 12-2...",92.00,92.00,92.00,92.00,90.00,92.00,92.00,91.00,92.00,92.00,92.00
SH.STA.ACSN,United States,USA,Improved sanitation facilities (% of populatio...,99.80,99.90,99.90,99.90,99.90,99.90,100.00,100.00,100.00,100.00,100.00
SP.DYN.IMRT.IN,United States,USA,"Mortality rate, infant (per 1,000 live births)",6.80,6.70,6.60,6.50,6.40,6.30,6.10,6.10,5.90,5.70,5.60
SH.H2O.SAFE.ZS,United States,USA,Improved water source (% of population with ac...,99.00,99.00,99.00,99.00,99.10,99.10,99.10,99.10,99.20,99.20,99.20
SP.POP.GROW,United States,USA,Population growth (annual %),0.92,0.96,0.95,0.95,0.88,0.84,0.76,0.76,0.74,0.78,0.78
SP.POP.TOTL,United States,USA,"Population, total","295,516,599.00","298,379,912.00","301,231,207.00","304,093,966.00","306,771,529.00","309,346,863.00","311,718,857.00","314,102,623.00","316,427,395.00","318,907,401.00","321,418,820.00"