In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
data_to_load = "data - testing2.csv"

# Read the Population Health Data
health_data_pd = pd.read_csv(data_to_load)

# Display the data table for preview
health_data_pd

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,133.555013,134.159119,134.857912,134.504576,134.105211,133.569626,...,50.329135,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN
3,Arab World,ARB,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89005,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.100000,NaN,NaN,17.300000,NaN,9.700000,NaN,NaN,26.800000,NaN
89006,Zimbabwe,ZWE,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.300000,NaN,NaN,13.900000,NaN,7.300000,NaN,NaN,12.900000,NaN
89007,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,67.000000,83.000000,0.000000,77.000000,49.000000,47.000000,61.000000,34.000000,32.000000,NaN
89008,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,3.300000,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,NaN,NaN
89009,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,58.331272,58.586086,58.760796,58.812421,58.825943,58.899308,58.939080,58.900126,58.822335,58.855552

In [2]:
health_data_decade_df = health_data_pd[['Country Name','Country Code','Indicator Name','Indicator Code','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
health_data_decade_df


# health_data_decade_pd = health_data_pd.loc[:,'2005':'2015']
# health_data_decade_pd

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,50.732590,50.329135,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN
3,Arab World,ARB,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89005,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,3.100000,NaN,NaN,17.300000,NaN,9.700000,NaN,NaN,26.800000,NaN
89006,Zimbabwe,ZWE,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,6.300000,NaN,NaN,13.900000,NaN,7.300000,NaN,NaN,12.900000,NaN
89007,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,81.000000,67.000000,83.000000,0.000000,77.000000,49.000000,47.000000,61.000000,34.000000,32.000000,NaN
89008,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,3.300000,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,NaN,NaN
89009,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,58.045596,58.331272,58.586086,58.760796,58.812421,58.825943,58.899308,58.939080,58.900126,58.822335,58.855552

In [3]:
countries_sorted_df = health_data_decade_df.groupby('Country Name')
countries_sorted_df
usa_df = countries_sorted_df.get_group('United States') 
usa_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
85215,United States,USA,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85216,United States,USA,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85217,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,41.0818,40.3754,39.669,37.7398,35.8106,33.8814,31.9522,30.023,27.0666,24.1102,NaN
85218,United States,USA,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85219,United States,USA,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85555,United States,USA,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85556,United States,USA,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85557,United States,USA,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85558,United States,USA,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85559,United States,USA,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dropped_usa_df = usa_df.dropna() 
dropped_usa_df

dropped_usa_df.set_index("Indicator Code", inplace=True)
#dropped_usa_df

dropped_usa_data_df = dropped_usa_df.loc[['SH.IMM.HEPB', 'SH.IMM.MEAS', 'SH.STA.ACSN','SP.DYN.IMRT.IN','SH.H2O.SAFE.ZS','SP.POP.GROW','SP.POP.TOTL']]
dropped_usa_data_df
dropped_usa_data_df_format = dropped_usa_data_df


dropped_usa_data_df_format["2005"] = dropped_usa_data_df["2005"].map("{:,.2f}".format)
dropped_usa_data_df_format["2006"] = dropped_usa_data_df["2006"].map("{:,.2f}".format)
dropped_usa_data_df_format["2007"] = dropped_usa_data_df["2007"].map("{:,.2f}".format)
dropped_usa_data_df_format["2008"] = dropped_usa_data_df["2008"].map("{:,.2f}".format)
dropped_usa_data_df_format["2009"] = dropped_usa_data_df["2009"].map("{:,.2f}".format)
dropped_usa_data_df_format["2010"] = dropped_usa_data_df["2010"].map("{:,.2f}".format)
dropped_usa_data_df_format["2011"] = dropped_usa_data_df["2011"].map("{:,.2f}".format)
dropped_usa_data_df_format["2012"] = dropped_usa_data_df["2012"].map("{:,.2f}".format)
dropped_usa_data_df_format["2013"] = dropped_usa_data_df["2013"].map("{:,.2f}".format)
dropped_usa_data_df_format["2014"] = dropped_usa_data_df["2014"].map("{:,.2f}".format)
dropped_usa_data_df_format["2015"] = dropped_usa_data_df["2015"].map("{:,.2f}".format)

#dropped_usa_data_df_format.to_csv('dropped_usa_format.csv')
dropped_usa_data_df_format

,Country Name,Country Code,Indicator Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Indicator Code,,,,,,,,,,,,,,
SH.IMM.HEPB,United States,USA,"Immunization, HepB3 (% of one-year-old children)",93.00,93.00,93.00,94.00,92.00,92.00,91.00,90.00,91.00,92.00,92.00
SH.IMM.MEAS,United States,USA,"Immunization, measles (% of children ages 12-2...",92.00,92.00,92.00,92.00,90.00,92.00,92.00,91.00,92.00,92.00,92.00
SH.STA.ACSN,United States,USA,Improved sanitation facilities (% of populatio...,99.80,99.90,99.90,99.90,99.90,99.90,100.00,100.00,100.00,100.00,100.00
SP.DYN.IMRT.IN,United States,USA,"Mortality rate, infant (per 1,000 live births)",6.80,6.70,6.60,6.50,6.40,6.30,6.10,6.10,5.90,5.70,5.60
SH.H2O.SAFE.ZS,United States,USA,Improved water source (% of population with ac...,99.00,99.00,99.00,99.00,99.10,99.10,99.10,99.10,99.20,99.20,99.20
SP.POP.GROW,United States,USA,Population growth (annual %),0.92,0.96,0.95,0.95,0.88,0.84,0.76,0.76,0.74,0.78,0.78
SP.POP.TOTL,United States,USA,"Population, total","295,516,599.00","298,379,912.00","301,231,207.00","304,093,966.00","306,771,529.00","309,346,863.00","311,718,857.00","314,102,623.00","316,427,395.00","318,907,401.00","321,418,820.00"

In [5]:
germany_df = countries_sorted_df.get_group('Germany') 
germany_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
38985,Germany,DEU,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38986,Germany,DEU,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38987,Germany,DEU,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,10.8106,10.2908,9.771,9.422,9.073,8.724,8.375,8.026,7.4932,6.9604,NaN
38988,Germany,DEU,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38989,Germany,DEU,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39325,Germany,DEU,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39326,Germany,DEU,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39327,Germany,DEU,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39328,Germany,DEU,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39329,Germany,DEU,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dropped_germany_df = germany_df.dropna() 
dropped_germany_df

dropped_germany_df.set_index("Indicator Code", inplace=True)
#dropped_germany_df

dropped_germany_data_df = dropped_germany_df.loc[['SH.IMM.HEPB', 'SH.IMM.MEAS', 'SH.STA.ACSN','SP.DYN.IMRT.IN','SH.H2O.SAFE.ZS','SP.POP.GROW','SP.POP.TOTL']]
dropped_germany_data_df
dropped_germany_data_df_format = dropped_germany_data_df


dropped_germany_data_df_format["2005"] = dropped_germany_data_df["2005"].map("{:,.2f}".format)
dropped_germany_data_df_format["2006"] = dropped_germany_data_df["2006"].map("{:,.2f}".format)
dropped_germany_data_df_format["2007"] = dropped_germany_data_df["2007"].map("{:,.2f}".format)
dropped_germany_data_df_format["2008"] = dropped_germany_data_df["2008"].map("{:,.2f}".format)
dropped_germany_data_df_format["2009"] = dropped_germany_data_df["2009"].map("{:,.2f}".format)
dropped_germany_data_df_format["2010"] = dropped_germany_data_df["2010"].map("{:,.2f}".format)
dropped_germany_data_df_format["2011"] = dropped_germany_data_df["2011"].map("{:,.2f}".format)
dropped_germany_data_df_format["2012"] = dropped_germany_data_df["2012"].map("{:,.2f}".format)
dropped_germany_data_df_format["2013"] = dropped_germany_data_df["2013"].map("{:,.2f}".format)
dropped_germany_data_df_format["2014"] = dropped_germany_data_df["2014"].map("{:,.2f}".format)
dropped_germany_data_df_format["2015"] = dropped_germany_data_df["2015"].map("{:,.2f}".format)

#dropped_germany_data_df_format.to_csv('dropped_germany_format.csv')
dropped_germany_data_df_format

,Country Name,Country Code,Indicator Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Indicator Code,,,,,,,,,,,,,,
SH.IMM.HEPB,Germany,DEU,"Immunization, HepB3 (% of one-year-old children)",90.00,87.00,86.00,87.00,88.00,88.00,88.00,88.00,88.00,88.00,88.00
SH.IMM.MEAS,Germany,DEU,"Immunization, measles (% of children ages 12-2...",96.00,96.00,97.00,97.00,97.00,97.00,97.00,97.00,97.00,97.00,97.00
SH.STA.ACSN,Germany,DEU,Improved sanitation facilities (% of populatio...,99.20,99.20,99.20,99.20,99.20,99.20,99.20,99.20,99.20,99.20,99.20
SP.DYN.IMRT.IN,Germany,DEU,"Mortality rate, infant (per 1,000 live births)",3.90,3.80,3.70,3.60,3.60,3.50,3.40,3.30,3.30,3.20,3.10
SH.H2O.SAFE.ZS,Germany,DEU,Improved water source (% of population with ac...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
SP.POP.GROW,Germany,DEU,Population growth (annual %),-0.06,-0.11,-0.13,-0.19,-0.25,-0.15,0.03,-1.69,2.10,-1.41,0.53
SP.POP.TOTL,Germany,DEU,"Population, total","82,469,422.00","82,376,451.00","82,266,372.00","82,110,097.00","81,902,307.00","81,776,930.00","81,797,673.00","80,425,823.00","82,132,753.00","80,982,500.00","81,413,145.00"

In [12]:
china_df = countries_sorted_df.get_group('China') 
china_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
28290,China,CHN,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28291,China,CHN,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28292,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,7.9722,7.9136,7.855,7.7882,7.7214,7.6546,7.5878,7.521,7.4344,7.3478,NaN
28293,China,CHN,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28294,China,CHN,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28630,China,CHN,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28631,China,CHN,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28632,China,CHN,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28633,China,CHN,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28634,China,CHN,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dropped_china_df = china_df.dropna() 
dropped_china_df

dropped_china_df.set_index("Indicator Code", inplace=True)
#dropped_china_df

dropped_china_data_df = dropped_china_df.loc[['SH.IMM.HEPB', 'SH.IMM.MEAS', 'SH.STA.ACSN','SP.DYN.IMRT.IN','SH.H2O.SAFE.ZS','SP.POP.GROW','SP.POP.TOTL']]
dropped_china_data_df
dropped_china_data_df_format = dropped_china_data_df


dropped_china_data_df_format["2005"] = dropped_china_data_df["2005"].map("{:,.2f}".format)
dropped_china_data_df_format["2006"] = dropped_china_data_df["2006"].map("{:,.2f}".format)
dropped_china_data_df_format["2007"] = dropped_china_data_df["2007"].map("{:,.2f}".format)
dropped_china_data_df_format["2008"] = dropped_china_data_df["2008"].map("{:,.2f}".format)
dropped_china_data_df_format["2009"] = dropped_china_data_df["2009"].map("{:,.2f}".format)
dropped_china_data_df_format["2010"] = dropped_china_data_df["2010"].map("{:,.2f}".format)
dropped_china_data_df_format["2011"] = dropped_china_data_df["2011"].map("{:,.2f}".format)
dropped_china_data_df_format["2012"] = dropped_china_data_df["2012"].map("{:,.2f}".format)
dropped_china_data_df_format["2013"] = dropped_china_data_df["2013"].map("{:,.2f}".format)
dropped_china_data_df_format["2014"] = dropped_china_data_df["2014"].map("{:,.2f}".format)
dropped_china_data_df_format["2015"] = dropped_china_data_df["2015"].map("{:,.2f}".format)

#dropped_china_data_df_format.to_csv('dropped_china_format.csv')
dropped_china_data_df_format

,Country Name,Country Code,Indicator Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Indicator Code,,,,,,,,,,,,,,
SH.IMM.HEPB,China,CHN,"Immunization, HepB3 (% of one-year-old children)",84.00,91.00,92.00,95.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
SH.IMM.MEAS,China,CHN,"Immunization, measles (% of children ages 12-2...",86.00,93.00,94.00,97.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
SH.STA.ACSN,China,CHN,Improved sanitation facilities (% of populatio...,64.90,66.10,67.20,68.40,69.60,70.80,71.90,73.10,74.20,75.40,76.50
SP.DYN.IMRT.IN,China,CHN,"Mortality rate, infant (per 1,000 live births)",20.30,18.70,17.20,15.80,14.60,13.50,12.50,11.50,10.60,9.80,9.20
SH.H2O.SAFE.ZS,China,CHN,Improved water source (% of population with ac...,86.30,87.40,88.50,89.50,90.50,91.40,92.30,93.20,94.00,94.80,95.50
SP.POP.GROW,China,CHN,Population growth (annual %),0.59,0.56,0.52,0.51,0.50,0.48,0.48,0.49,0.49,0.51,0.51
SP.POP.TOTL,China,CHN,"Population, total","1,303,720,000.00","1,311,020,000.00","1,317,885,000.00","1,324,655,000.00","1,331,260,000.00","1,337,705,000.00","1,344,130,000.00","1,350,695,000.00","1,357,380,000.00","1,364,270,000.00","1,371,220,000.00"

In [14]:
brazil_df = countries_sorted_df.get_group('Brazil') 
brazil_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
23115,Brazil,BRA,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23116,Brazil,BRA,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23117,Brazil,BRA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,74.907400,72.894200,70.881000,70.393800,69.906600,69.419400,68.932200,68.445000,67.877800,67.310600,NaN
23118,Brazil,BRA,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,580000.000000,600000.000000,630000.000000,650000.000000,680000.000000,700000.000000,730000.000000,750000.000000,780000.000000,800000.000000,830000.00000
23119,Brazil,BRA,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,42000.000000,42000.000000,42000.000000,42000.000000,43000.000000,43000.000000,43000.000000,43000.000000,44000.000000,44000.000000,44000.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23455,Brazil,BRA,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23456,Brazil,BRA,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23457,Brazil,BRA,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23458,Brazil,BRA,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23459,Brazil,BRA,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,37.417859,37.296886,37.152461,36.988084,36.806656,36.610849,36.402657,36.184027,35.983606,35.802435,35.63726

In [15]:
dropped_brazil_df = brazil_df.dropna() 
dropped_brazil_df

dropped_brazil_df.set_index("Indicator Code", inplace=True)
#dropped_brazil_df

dropped_brazil_data_df = dropped_brazil_df.loc[['SH.IMM.HEPB', 'SH.IMM.MEAS', 'SH.STA.ACSN','SP.DYN.IMRT.IN','SH.H2O.SAFE.ZS','SP.POP.GROW','SP.POP.TOTL']]
dropped_brazil_data_df
dropped_brazil_data_df_format = dropped_brazil_data_df


dropped_brazil_data_df_format["2005"] = dropped_brazil_data_df["2005"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2006"] = dropped_brazil_data_df["2006"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2007"] = dropped_brazil_data_df["2007"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2008"] = dropped_brazil_data_df["2008"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2009"] = dropped_brazil_data_df["2009"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2010"] = dropped_brazil_data_df["2010"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2011"] = dropped_brazil_data_df["2011"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2012"] = dropped_brazil_data_df["2012"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2013"] = dropped_brazil_data_df["2013"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2014"] = dropped_brazil_data_df["2014"].map("{:,.2f}".format)
dropped_brazil_data_df_format["2015"] = dropped_brazil_data_df["2015"].map("{:,.2f}".format)

#dropped_brazil_data_df_format.to_csv('dropped_brazil_format.csv')
dropped_brazil_data_df_format

,Country Name,Country Code,Indicator Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Indicator Code,,,,,,,,,,,,,,
SH.IMM.HEPB,Brazil,BRA,"Immunization, HepB3 (% of one-year-old children)",98.00,99.00,99.00,96.00,99.00,96.00,98.00,96.00,96.00,96.00,96.00
SH.IMM.MEAS,Brazil,BRA,"Immunization, measles (% of children ages 12-2...",98.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
SH.STA.ACSN,Brazil,BRA,Improved sanitation facilities (% of populatio...,77.70,78.20,78.80,79.40,79.90,80.50,81.10,81.60,82.10,82.70,82.80
SP.DYN.IMRT.IN,Brazil,BRA,"Mortality rate, infant (per 1,000 live births)",19.50,18.20,17.10,16.20,15.40,14.80,14.40,14.30,14.30,14.40,14.60
SH.H2O.SAFE.ZS,Brazil,BRA,Improved water source (% of population with ac...,95.20,95.60,95.90,96.20,96.50,96.90,97.20,97.50,97.80,98.10,98.10
SP.POP.GROW,Brazil,BRA,Population growth (annual %),1.26,1.17,1.09,1.02,0.99,0.97,0.95,0.94,0.91,0.89,0.86
SP.POP.TOTL,Brazil,BRA,"Population, total","188,479,240.00","190,698,241.00","192,784,521.00","194,769,696.00","196,701,298.00","198,614,208.00","200,517,584.00","202,401,584.00","204,259,377.00","206,077,898.00","207,847,528.00"

In [16]:
nigeria_df = countries_sorted_df.get_group('Nigeria') 
nigeria_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
63825,Nigeria,NGA,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,2.340000e+01,NaN,NaN,2.310000e+01,NaN,26.200,NaN,NaN
63826,Nigeria,NGA,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,3.630000e+01,NaN,NaN,NaN,NaN,37.400,NaN,NaN
63827,Nigeria,NGA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1.260184e+02,1.245972e+02,123.176,1.219508e+02,1.207256e+02,1.195004e+02,1.182752e+02,117.05,114.468,111.886,NaN
63828,Nigeria,NGA,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,3.000000e+06,3.000000e+06,3000000.000,3.100000e+06,3.100000e+06,3.200000e+06,3.200000e+06,3300000.00,3300000.000,3400000.000,3500000.0
63829,Nigeria,NGA,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,2.700000e+05,2.600000e+05,260000.000,2.600000e+05,2.600000e+05,2.600000e+05,2.600000e+05,260000.00,250000.000,250000.000,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64165,Nigeria,NGA,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,5.500000e+00,NaN,2.890000e+01,1.640000e+01,NaN,16.600,25.400,NaN
64166,Nigeria,NGA,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,4.900000e+00,NaN,1.320000e+01,1.950000e+01,NaN,14.600,NaN,NaN
64167,Nigeria,NGA,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,4.000000e+01,6.100000e+01,55.000,0.000000e+00,7.800000e+01,9.100000e+01,7.300000e+01,78.00,70.000,80.000,NaN
64168,Nigeria,NGA,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,5.300000e+00,NaN,NaN,NaN,NaN,5.200,NaN,NaN
64169,Nigeria,NGA,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
dropped_nigeria_df = nigeria_df.dropna() 
dropped_nigeria_df

dropped_nigeria_df.set_index("Indicator Code", inplace=True)
#dropped_nigeria_df

dropped_nigeria_data_df = dropped_nigeria_df.loc[['SH.IMM.HEPB', 'SH.IMM.MEAS', 'SH.STA.ACSN','SP.DYN.IMRT.IN','SH.H2O.SAFE.ZS','SP.POP.GROW','SP.POP.TOTL']]
dropped_nigeria_data_df
dropped_nigeria_data_df_format = dropped_nigeria_data_df


dropped_nigeria_data_df_format["2005"] = dropped_nigeria_data_df["2005"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2006"] = dropped_nigeria_data_df["2006"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2007"] = dropped_nigeria_data_df["2007"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2008"] = dropped_nigeria_data_df["2008"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2009"] = dropped_nigeria_data_df["2009"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2010"] = dropped_nigeria_data_df["2010"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2011"] = dropped_nigeria_data_df["2011"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2012"] = dropped_nigeria_data_df["2012"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2013"] = dropped_nigeria_data_df["2013"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2014"] = dropped_nigeria_data_df["2014"].map("{:,.2f}".format)
dropped_nigeria_data_df_format["2015"] = dropped_nigeria_data_df["2015"].map("{:,.2f}".format)

#dropped_nigeria_data_df_format.to_csv('dropped_nigeria_format.csv')
dropped_nigeria_data_df_format

,Country Name,Country Code,Indicator Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Indicator Code,,,,,,,,,,,,,,
SH.IMM.HEPB,Nigeria,NGA,"Immunization, HepB3 (% of one-year-old children)",18.00,27.00,42.00,41.00,63.00,49.00,46.00,42.00,45.00,49.00,56.00
SH.IMM.MEAS,Nigeria,NGA,"Immunization, measles (% of children ages 12-2...",41.00,44.00,41.00,53.00,64.00,56.00,49.00,42.00,47.00,51.00,54.00
SH.STA.ACSN,Nigeria,NGA,Improved sanitation facilities (% of populatio...,32.20,31.90,31.50,31.20,30.80,30.50,30.20,29.90,29.60,29.30,29.00
SP.DYN.IMRT.IN,Nigeria,NGA,"Mortality rate, infant (per 1,000 live births)",96.60,93.40,90.30,87.30,84.30,81.50,78.80,76.20,73.80,71.50,69.40
SH.H2O.SAFE.ZS,Nigeria,NGA,Improved water source (% of population with ac...,57.80,59.00,60.10,61.20,62.30,63.40,64.50,65.50,66.60,67.60,68.50
SP.POP.GROW,Nigeria,NGA,Population growth (annual %),2.60,2.62,2.64,2.66,2.67,2.68,2.69,2.69,2.68,2.66,2.63
SP.POP.TOTL,Nigeria,NGA,"Population, total","139,611,303.00","143,318,011.00","147,152,502.00","151,115,683.00","155,207,145.00","159,424,742.00","163,770,669.00","168,240,403.00","172,816,517.00","177,475,986.00","182,201,962.00"

In [19]:
australia_df = countries_sorted_df.get_group('Australia') 
australia_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
17595,Australia,AUS,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17596,Australia,AUS,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17597,Australia,AUS,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,17.027600,17.063800,17.100000,16.785400,16.470800,16.156200,15.841600,15.527000,14.966000,14.405000,NaN
17598,Australia,AUS,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,18000.000000,19000.000000,19000.000000,20000.000000,21000.000000,21000.000000,22000.000000,23000.000000,25000.000000,26000.000000,27000.000000
17599,Australia,AUS,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17935,Australia,AUS,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17936,Australia,AUS,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17937,Australia,AUS,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17938,Australia,AUS,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17939,Australia,AUS,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,9.149856,9.318766,9.501225,9.667919,9.822474,9.953908,10.076105,10.196346,10.308438,10.402241,10.490814

In [20]:
dropped_australia_df = australia_df.dropna() 
dropped_australia_df

dropped_australia_df.set_index("Indicator Code", inplace=True)
#dropped_australia_df

dropped_australia_data_df = dropped_australia_df.loc[['SH.IMM.HEPB', 'SH.IMM.MEAS', 'SH.STA.ACSN','SP.DYN.IMRT.IN','SH.H2O.SAFE.ZS','SP.POP.GROW','SP.POP.TOTL']]
dropped_australia_data_df
dropped_australia_data_df_format = dropped_australia_data_df


dropped_australia_data_df_format["2005"] = dropped_australia_data_df["2005"].map("{:,.2f}".format)
dropped_australia_data_df_format["2006"] = dropped_australia_data_df["2006"].map("{:,.2f}".format)
dropped_australia_data_df_format["2007"] = dropped_australia_data_df["2007"].map("{:,.2f}".format)
dropped_australia_data_df_format["2008"] = dropped_australia_data_df["2008"].map("{:,.2f}".format)
dropped_australia_data_df_format["2009"] = dropped_australia_data_df["2009"].map("{:,.2f}".format)
dropped_australia_data_df_format["2010"] = dropped_australia_data_df["2010"].map("{:,.2f}".format)
dropped_australia_data_df_format["2011"] = dropped_australia_data_df["2011"].map("{:,.2f}".format)
dropped_australia_data_df_format["2012"] = dropped_australia_data_df["2012"].map("{:,.2f}".format)
dropped_australia_data_df_format["2013"] = dropped_australia_data_df["2013"].map("{:,.2f}".format)
dropped_australia_data_df_format["2014"] = dropped_australia_data_df["2014"].map("{:,.2f}".format)
dropped_australia_data_df_format["2015"] = dropped_australia_data_df["2015"].map("{:,.2f}".format)

#dropped_australia_data_df_format.to_csv('dropped_australia_format.csv')
dropped_australia_data_df_format

,Country Name,Country Code,Indicator Name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Indicator Code,,,,,,,,,,,,,,
SH.IMM.HEPB,Australia,AUS,"Immunization, HepB3 (% of one-year-old children)",95.00,95.00,94.00,94.00,94.00,92.00,92.00,91.00,91.00,91.00,93.00
SH.IMM.MEAS,Australia,AUS,"Immunization, measles (% of children ages 12-2...",94.00,94.00,94.00,94.00,94.00,94.00,94.00,94.00,94.00,93.00,91.00
SH.STA.ACSN,Australia,AUS,Improved sanitation facilities (% of populatio...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
SP.DYN.IMRT.IN,Australia,AUS,"Mortality rate, infant (per 1,000 live births)",4.80,4.70,4.50,4.40,4.20,4.10,3.80,3.60,3.40,3.20,3.00
SH.H2O.SAFE.ZS,Australia,AUS,Improved water source (% of population with ac...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
SP.POP.GROW,Australia,AUS,Population growth (annual %),1.32,1.48,0.62,2.00,2.06,1.56,1.39,1.72,1.70,1.49,1.34
SP.POP.TOTL,Australia,AUS,"Population, total","20,394,800.00","20,697,900.00","20,827,600.00","21,249,200.00","21,691,700.00","22,031,750.00","22,340,024.00","22,728,254.00","23,117,353.00","23,464,086.00","23,781,169.00"